*.mem
*.zip
*.exe
*.py
*.apk
*.img
*.png
*.bin
*.dmp
*.data
*.strings
*.txt
*.dat
*.vacb
*.p12
*.dex
*.js
output/
jadx/
temp/
frida-server
*.sh
!docker-entrypoint.sh
*.md
.git/
.github/
share/
hadolint-*