name: Hadolint
on:
  push:
    paths:
      - "**/Dockerfile"
  pull_request:
  workflow_dispatch:
permissions:
  contents: read
jobs:
  hadolint:
    name: hadolint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: hadolint/hadolint-action@v3.3.0
        with:
          dockerfile: Dockerfile
          # DL3007: Using latest is prone to errors if the image will ever update. Pin the version explicitly to a release tag
          # DL3018: Pin versions in apk add. Instead of `apk add <package>` use `apk add <package>=<version>`
          # DL3008: Pin versions in apt get install. Instead of `apt-get install <package>` use `apt-get install <package>=<version>`
          # DL4001: Either use Wget or Curl but not both
          # SC1071: ShellCheck only supports sh/bash/dash/ksh scripts. Sorry!
          # DL3003: Use WORKDIR to switch to a directory
          # DL3028: Pin versions in gem install. Instead of `gem install <gem>` use `gem install <gem>:<version>`
          # DL3013: Pin versions in pip. Instead of `pip install <package>` use `pip install <package>==<version>` or `pip install --requirement <requirements file>`
          # DL3062 warning: Pin versions in go. Instead of `go install <package>` use `go install <package>@<version>`
          ignore: DL3007,DL3018,DL3008,DL4001,SC1071,DL3003,DL3028,DL3013,DL3062
